<div class="sidebar sidebar-collapse" id="sidebar">
    <div class="sidebar__menu-group">
       <ul class="sidebar_nav">
          <li class={{dashobard}}>
             <a href="/dashboard">
                <span class="nav-icon uil uil-create-dashboard"></span>
                <span class="menu-text">Dashboard</span>
             </a>
          </li>
          <li class={{ventas}}>
             <a href="/ventas">
                <span class="nav-icon uil uil-bill"></span>
                <span class="menu-text">Ventas</span>
             </a>
          </li>
          <li class={{clientes}}>
             <a href="/clientes">
                <span class="nav-icon uil uil-users-alt"></span>
                <span class="menu-text">Clientes</span>
             </a>
          </li>
          <li class={{proveedores}}>
             <a href="/proveedores">
                <span class="nav-icon uil uil-bag"></span>
                <span class="menu-text">Proveedores</span>
             </a> 
          </li>
          <li class={{facturas}}>
             <a href="/facturas">
                <span class="nav-icon uil uil-clipboard-notes"></span>
                <span class="menu-text">Facturas</span>
             </a>
          </li>
          <li class={{productos}}>
             <a href="/productos">
                <span class="nav-icon uil uil-users-alt"></span>
                <span class="menu-text">Productos</span>
             </a>
          </li>
          <li class={{categorias}}>
             <a href="/categorias">
                <span class="nav-icon uil uil-folder"></span>
                <span class="menu-text">Categorias</span>
             </a>
          </li>
          <li class={{ventas}}>
             <a href="/ventas">
                <span class="nav-icon uil uil-sign-out-alt"></span>
                <span class="menu-text">Salir</span>
             </a>
          </li>
       </ul>
    </div>
</div>